.Footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    min-height: 50px;
    margin: 5px;
}

.Footer > a{
    display:block;
    color: #989898;
    font-size: 0.7em;
}

.Footer > a:visited{
    color: #989898;

}