.Footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    min-height: 50px;
    margin: 5px;
    font-size: 0.8em;
}

.Footer *{
    color: #989898;
    
}

.Footer > a[href^="https://github.com/uos-cs-capstone-2020/youtube-party"]{
    background: url(../../client/Orion_github.svg) no-repeat;
    padding-left: 15px;
    filter: invert(0.5);
}

.Footer > a[href^="https://discord.com"]{
    background: url(../../client/Discord-Logo-White.svg) no-repeat;
    padding-left: 15px;
    filter: invert(0.5);
}
.Footer > a:hover{
    filter: invert(0);
}

.Footer > a:visited{
    color: #989898;
}
