.Header{
    display: flex;
    align-items: center;
}

.Header > img{
    flex: 1;
    min-width: 50px;
    max-width: 70px;
    margin-right: 15px;
}

.title{
    flex: 10;
    font-size: 130%;
    font-weight: 900;
}