#Join{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.EnterRoom{
    flex: 3 1;
    max-width: 300px;
    min-width: 12rem;
    height:100%;
    
    margin: 0.25rem;
    padding: 1.2rem;
    padding-top: 0.25rem;

    background-color: #484848;
    border-radius: 1rem;
}

.RoomList{
    flex: 7 2;
    flex-wrap: wrap;
    height: 100%;
    min-width: 20rem;
    
    margin: 0.25rem;
    padding: 1.2rem;
    padding-top: 0.25rem;

    background-color: #484848;
    border-radius: 1rem;
}
