html{
    width:100%;
    height:100vh;
}

body{
    display: flex;

    min-width: 100%;
    min-height:100vh;
    margin: 0;

    background-color: #383838;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#root{
    display: flex;

    justify-content: center;
    width:100%;
    min-height: 100vh;
    margin: auto;
    margin-top: 0.5rem;
}