name: Master PR Checker

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2
      
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Install all dependencies
      run: npm install
    
    - name: Run all test suites
      run: npm run test
    
    - name: Run static analysis (ESLint)
      run: npm run lint

